<!-- Title System -->
<% phc_title "Script Listings Manager" %>
<% phc_title_tagline "Script URL Index" %>
<% phc_breadcrumb_one yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= yield(:phc_title) %></h3>
				</div>
				<div class="box-body">

					<!-- Index Table -->
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Script URL</th>
									<th>Release Date</th>
									<th>CDN Update Date</th>
								</tr>
							</thead>
							<tbody>
								<% @script_urls.each do |script_url| %>
									<tr>
										<td><%= link_to script_url.scripturl, script_listing_url_path(script_url.listing, script_url) %></td>
										<td><%= link_to script_url.scripturlrelease, script_listing_url_path(script_url.listing, script_url) %></td>
										<td><%= link_to script_url.scripturlcdnupdate, script_listing_url_path(script_url.listing, script_url) %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<!-- Index Table -->

					<!-- Panel Footer -->
					<div class="box-footer clearfix">
						<%= link_to 'New Script Url', new_script_listing_url_path, class: "btn btn-primary" %>
					</div>
					<!-- Panel Footer -->

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Content -->
