<%= form_for(@scriptcdn_main) do |f| %>

	<%= render 'phcnotifi/validations', :object => @scriptcdn_main %>

	<div class="form-group field_with_error">
		<%= f.label :scriptname, "Script Name" %>
		<%= f.text_field :scriptname, placeholder: "Script Information Website", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.submit class: "btn blue-hoki" %>
	</div>

<% end %>
