<%= form_with(model: script_version, local: true) do |form_phc_scriptcdn_versions| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @script_version %>

	<!-- Form Input Fields -->
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_versions.label :scriptversion, "Version Number" %>
		<%= form_phc_scriptcdn_versions.text_field :scriptversion, placeholder: "Version Number", class: "form-control"  %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form_phc_scriptcdn_versions.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
