<p id="notice"><%= notice %></p>

<h1>Script Versions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @script_versions.each do |script_version| %>
      <tr>
        <td><%= link_to 'Show', script_version %></td>
        <td><%= link_to 'Edit', edit_script_version_path(script_version) %></td>
        <td><%= link_to 'Destroy', script_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Script Version', new_script_version_path %>
