<%= form_with(model: script_licence, local: true) do |form_phc_scriptcdn_licence| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @script_licence %>

	<!-- Form_phc_scriptcdn_licence Input Fields -->
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_name, "Licence Name" %>
		<%= form_phc_scriptcdn_licence.text_field :licence_name, placeholder: "Licence Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_description, "Licence Description" %>
		<%= form_phc_scriptcdn_licence.text_area :licence_description, placeholder: "Licence Descirption", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_compatible_gpl, "GPL(v3) Compatible" %>
		<%= form_phc_scriptcdn_licence.select( :licence_compatible_gpl, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_approval_fsf, "FSF Approval" %>
		<%= form_phc_scriptcdn_licence.select( :licence_approval_fsf, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_approval_osi, "OSI Approval" %>
		<%= form_phc_scriptcdn_licence.select( :licence_approval_osi, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_approval_copyfree, "Copyfree Approval" %>
		<%= form_phc_scriptcdn_licence.select( :licence_approval_copyfree, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_approval_debian, "Debian Approval" %>
		<%= form_phc_scriptcdn_licence.select( :licence_approval_debian, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :licence_approval_fedora, "Fedora Approval" %>
		<%= form_phc_scriptcdn_licence.select( :licence_approval_fedora, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<!-- Form_phc_scriptcdn_licence Input Fields -->

	<!-- Form_phc_scriptcdn_licence Submition Button -->
	<div class="actions">
		<%= form_phc_scriptcdn_licence.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
