<%= form_with(model: script_licence, local: true) do |form_phc_scriptcdn_licence| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @script_licence %>

	<!-- Form_phc_scriptcdn_licence Input Fields -->
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncname, "Licence Name" %>
		<%= form_phc_scriptcdn_licence.text_field :lcncname, placeholder: "Licence Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncdescript, "Licence Description" %>
		<%= form_phc_scriptcdn_licence.text_area :lcncdescript, placeholder: "Licence Descirption", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcnccomgpl, "GPL(v3) Compatible" %>
		<%= form_phc_scriptcdn_licence.select( :lcnccomgpl, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncarvlfsf, "FSF Approval" %>
		<%= form_phc_scriptcdn_licence.select( :lcncarvlfsf, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncarvlosi, "OSI Approval" %>
		<%= form_phc_scriptcdn_licence.select( :lcncarvlosi, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncarvlcopyfree, "Copyfree Approval" %>
		<%= form_phc_scriptcdn_licence.select( :lcncarvlcopyfree, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncarvldebian, "Debian Approval" %>
		<%= form_phc_scriptcdn_licence.select( :lcncarvldebian, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_licence.label :lcncarvlfedora, "Fedora Approval" %>
		<%= form_phc_scriptcdn_licence.select( :lcncarvlfedora, [['No','No'],['Yes','Yes']], {}, {class: "form-control"}) %>
	</div>
	<!-- Form_phc_scriptcdn_licence Input Fields -->

	<!-- Form_phc_scriptcdn_licence Submition Button -->
	<div class="actions">
		<%= form_phc_scriptcdn_licence.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
