<!-- Title System -->
<% phc_title "Script Listings Manager" %>
<% phc_title_tagline "Script Licence Index" %>
<% phc_breadcrumb_one yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Title Bar -->
<section class="content-header">
	<!-- Page Title and BreadCrumb -->
	<h1><%= yield(:phc_title) %> <small><%= yield(:phc_title_tagline) %></small></h1>
	<ol class="breadcrumb">
		<li><%= yield(:phc_breadcrumb_one) %></li>
		<li class="active"><%= yield(:phc_breadcrumb_two) %></li>
	</ol>
	<!-- Page Title and BreadCrumb -->
</section>
<!-- Page Title Bar -->

<!-- Main Content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title"><%= yield(:phc_title) %></h3>
				</div>
				<div class="box-body">

					<!-- Index Table -->
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Licence Name</th>
									<th>GPLv3 Compatible</th>
									<th>FSF Approval</th>
									<th>OSI Approval</th>
									<th>CopyFree Approval</th>
									<th>Debian Approval</th>
									<th>Fedora Approval</th>
								</tr>
							</thead>
							<tbody>
								<% @script_licences.each do |script_licence| %>
									<tr>
										<td><%= link_to script_licence.lcncname, script_licence %></td>
										<td><%= link_to script_licence.lcnccomgpl, script_licence %></td>
										<td><%= link_to script_licence.lcncarvlfsf, script_licence %></td>
										<td><%= link_to script_licence.lcncarvlosi, script_licence %></td>
										<td><%= link_to script_licence.lcncarvlcopyfree, script_licence %></td>
										<td><%= link_to script_licence.lcncarvldebian, script_licence %></td>
										<td><%= link_to script_licence.lcncarvlfedora, script_licence %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<!-- Index Table -->

					<!-- Panel Footer -->
					<div class="box-footer clearfix">
						<%= link_to 'New Script Licence', new_script_licence_path, class: "btn btn-primary" %>
					</div>
					<!-- Panel Footer -->

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Main Content -->
