<p id="notice"><%= notice %></p>

<p>
  <strong>Scripttitle:</strong>
  <%= @scriptcdn_information.scripttitle %>
</p>

<p>
  <strong>Scriptdescription:</strong>
  <%= @scriptcdn_information.scriptdescription %>
</p>

<p>
  <strong>Scriptcategory:</strong>
  <%= @scriptcdn_information.scriptcategory %>
</p>

<p>
  <strong>Scriptwebsite:</strong>
  <%= @scriptcdn_information.scriptwebsite %>
</p>

<p>
  <strong>Scripttwitter:</strong>
  <%= @scriptcdn_information.scripttwitter %>
</p>

<p>
  <strong>Scriptgithub:</strong>
  <%= @scriptcdn_information.scriptgithub %>
</p>

<p>
  <strong>Scriptinitialrelease:</strong>
  <%= @scriptcdn_information.scriptinitialrelease.parse(date) %>
</p>

<p>
  <strong>Scriptlicence:</strong>
  <%= @scriptcdn_information.scriptlicence %>
</p>

<p>
  <strong>Scriptplatform:</strong>
  <%= @scriptcdn_information.scriptplatform %>
</p>

<p>
  <strong>Version:</strong>
  <%= @scriptcdn_information.version %>
</p>

<p>
  <strong>Main:</strong>
  <%= @scriptcdn_information.main %>
</p>

<%= link_to 'Back', scriptcdn_information_main_index_path %>
