<%= form_with(model: script_author, local: true) do |form_phc_scriptcdn_author| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @script_author %>

	<!-- Form_phc_scriptcdn_author Input Fields -->
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_author.label :authorfirstname, "Author First Name" %>
		<%= form_phc_scriptcdn_author.text_field :authorfirstname, placeholder: "Author First Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_author.label :authorlastname, "Author Last Name" %>
		<%= form_phc_scriptcdn_author.text_field :authorlastname, placeholder: "Author Last Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_author.label :authorwebsite, "Author Website" %>
		<%= form_phc_scriptcdn_author.text_field :authorwebsite, placeholder: "Author Website", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_author.label :authorgithub, "Author Github Address" %>
		<%= form_phc_scriptcdn_author.text_field :authorgithub, placeholder: "Author Github Address", class: "form-control"  %>
	</div>
	<!-- Form_phc_scriptcdn_author Input Fields -->

	<!-- Form_phc_scriptcdn_author Submition Button -->
	<div class="actions">
		<%= form_phc_scriptcdn_author.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
