<!DOCTYPE html>
<html>

	<head>

		<title>PHCMembers - Membership Manager</title>

		<%= stylesheet_link_tag    "phcscriptcdn/application", media: "all" %>
		<%= javascript_include_tag "phcscriptcdn/application" %>
		<%= csrf_meta_tags %>

	</head>

	<body class="hold-transition skin-blue sidebar-mini">

		<div class="wrapper">
			<div class="main_container">

				<header class="main-header">

					<!-- Logo with Link -->
					<%= link_to phcmembers.member_profiles_path, class: "logo" do %>
						<span class="logo-mini">PHC</span>
						<span class="logo-lg"><b>PHC</b>ScriptCDN</span>
					<% end %>
					<!-- Logo with Link -->

					<!-- Top Navbar -->
					<nav class="navbar navbar-static-top">
						<%= render 'layouts/phcscriptcdn/components/backend/topbar/topbar' %>
					</nav>
					<!-- Top Navbar -->

				</header>

				<aside class="main-sidebar">
					<%= render 'layouts/phcscriptcdn/components/backend/navigation/navigation' %>
				</aside>

				<!-- Page Content -->
				<div class="content-wrapper">
					<%= yield %>
				</div>
				<!-- Page Content -->
			
			</div>
		</div>

		<!-- Footer -->
		<footer class="main-footer">
			<%= render 'layouts/phcscriptcdn/components/backend/footer/footer' %>
		</footer>
		<!-- Footer -->

	</body>
</html>