<%= form_for(@scriptcdn_script) do |f| %>

	<% if @scriptcdn_script.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@scriptcdn_script.errors.count, "error") %> prohibited this scriptcdn_script from being saved:</h2>
			<ul>
				<% @scriptcdn_script.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label><%= f.label :scrptname, "Script Name" %></label>
		<%= f.text_field :scrptname, class: "form-control" %>
	</div>
	<div class="form-group">
		<label><%= f.label :scrptdescription, "Script Description" %></label>
		<%= f.text_area :scrptdescription, class: "form-control" %>
	</div>
	<div class="form-group">
		<label><%= f.label :scriptversion_id, "Script Version" %></label>
		<%= collection_select(:scriptcdn_script, :scriptversion_id, Phcscriptcdn::Scriptcdn::Scriptversion.order('scrptversion'), :id, :scrptversion, {}, {class: "form-control form-control-sm"}) %>
	</div>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
	</div>

<% end %>