<%= form_for(@scriptcdn_script) do |f| %>

	<%= render 'phcnotifi/validations', :object => @scriptcdn_script %>

	<div class="form-group">
		<%= f.label :scrptname, "Script Name" %>
		<%= f.text_field :scrptname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :scrptdescription, "Script Description" %>
		<%= f.text_area :scrptdescription, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :scriptversion_id, "Script Version" %>
		<%= collection_select(:scriptcdn_script, :scriptversion_id, Phcscriptcdn::Scriptcdn::Scriptversion.order('scrptversion'), :id, :scrptversion, {}, {class: "form-control form-control-sm"}) %>
	</div>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
	</div>

<% end %>