<p id="notice"><%= notice %></p>

<p>
  <strong>Scrptname:</strong>
  <%= @scriptcdn_script.scrptname %>
</p>

<p>
  <strong>Scrptdescription:</strong>
  <%= @scriptcdn_script.scrptdescription %>
</p>

<p>
  <strong>Scriptversion:</strong>
  <%= @scriptcdn_script.scriptversion %>
</p>

<%= link_to 'Edit', edit_scriptcdn_script_path(@scriptcdn_script) %> |
<%= link_to 'Back', scriptcdn_scripts_path %>
