<!-- Title System -->
<% phc_title @script_listings_single.scripttitle + " CDN" %>
<% phc_title_tagline "Global Script Delivery Network" %>
<!-- Title System -->

<section>
	<div class="container">
		<div class="row">

			<!-- Script Listing -->
			<div class="col-md-9 col-sm-9">

				<h1 class="blog-post-title"><%= @script_listings_single.scripttitle %> <small></small></h1>
				<ul class="blog-post-info list-inline">
					<li>
						<%= link_to "#" do %>
							<i class="fa fa-clock-o"></i>
							<span class="font-lato"><%= @script_listings_single.created_at %></span>
						<% end %>
					</li>
					<li>
						<i class="fa fa-folder-open-o"></i>
						<% @script_listings_single.urls.extensions.each do |script_listing_url_extensions| %>
							<%= link_to "#" do %>
								<span class="font-lato"><%= script_listing_url_extensions.scriptextensionname %></span>
							<% end %>
						<% end %>
					</li>
					<li>
						<%= link_to "#" do %>
							<i class="fa fa-user"></i>
							<span class="font-lato">Posted By - <%= @script_listings_single.user_name %></span>
						<% end %>
					</li>
				</ul>
				<div>
					<%= @script_listings_single.scriptdescription.html_safe %>
					<p><small>Source: <i><%= @script_listings_single.descriptionsource %></i></small></p>
				</div>
				<br/>
				<div>
					<!-- Script Urls -->
					<% @script_listings_single.urls.each do |script_listing_urls| %>
						<input id="cdn_copy_trgt" type="text" class="form-control" value="<%= script_listing_urls.scripturl %>">
					<% end %>
					<!-- Script Urls -->
				</div>
			</div>
			<!-- Script Listing -->

			<!-- Right Sidebar -->
			<div class="col-md-3 col-sm-3">
			</div>
			<!-- Right Sidebar -->

		</div>
	</div>
</section>
<!-- Page Content -->
