<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="<%= is_active_controller('phcscriptcdn/script/listings') %> treeview">
			<a href=""><i class="fa fa-code"></i> <span class="nav-label">Script Listings</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li class="<%= is_active_controller('phcscriptcdn/script/listings') %>"><%= link_to "All Script Listings", phcscriptcdn.script_listings_path %></li>
				<li class="<%= is_active_controller('phcscriptcdn/script/listings#new') %>"><%= link_to "Add a New Listing", phcscriptcdn.new_script_listing_path %></li>
			</ul>
		</li>
		<li class="<%= is_active_controller('phcscriptcdn/script/authors') %> <%= is_active_controller('phcscriptcdn/script/licences') %> <%= is_active_controller('phcscriptcdn/script/extensions') %> <%= is_active_controller('phcscriptcdn/script/versions') %> treeview">
			<a href=""><i class="fa fa-code"></i> <span class="nav-label">Script CDN Modules</span> <span class="fa arrow"></span></a>
			<ul class="nav nav-second-level collapse">
				<li class="<%= is_active_controller('phcscriptcdn/script/authors') %>"><%= link_to "Script Authors", phcscriptcdn.script_authors_path %></li>
				<li class="<%= is_active_controller('phcscriptcdn/script/licences') %>"><%= link_to "Script Licences", phcscriptcdn.script_licences_path %></li>
				<li class="<%= is_active_controller('phcscriptcdn/script/extensions') %>"><%= link_to "Script Extensions", phcscriptcdn.script_extensions_path %></li>
				<li class="<%= is_active_controller('phcscriptcdn/script/versions') %>"><%= link_to "Script Versions", phcscriptcdn.script_versions_path %></li>
			</ul>
		</li>
	</ul>
</section>