<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="<%= is_active_controller('phcscriptcdn/script/listings') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-code"></i> <span>Script Listings</span>
				<span class="fa arrow"></span>
			<% end %>
			<ul class="treeview-menu">
				<li class="<%= is_active_controller('phcscriptcdn/script/listings') %>">
					<%= link_to script_listings_path do %>
						<i class="fa fa-circle-o"></i> 
						All Script Listings
					<% end %>
				</li>
				<li class="<%= is_active_controller('phcscriptcdn/script/listings#new') %>">
					<%= link_to new_script_listing_path do  %>
						<i class="fa fa-circle-o"></i> 
						Add a New Listing
					<% end %>
				</li>
			</ul>
		</li>
		<li class="phcscriptcdn/script/authors') %> <%= is_active_controller('phcscriptcdn/script/licences') %> <%= is_active_controller('phcscriptcdn/script/extensions') %> <%= is_active_controller('phcscriptcdn/script/versions') %> treeview">
			<%= link_to "#" do %>
				<i class="fa fa-code"></i> <span>Script CDN Modules</span>
				<span class="fa arrow"></span>
			<% end %>
			<ul class="treeview-menu">
				<li class="<%= is_active_controller('phcscriptcdn/script/authors') %>">
					<%= link_to script_authors_path do %>
						<i class="fa fa-circle-o"></i> 
						Script Authors
					<% end %>
				</li>
				<li class="<%= is_active_controller('phcscriptcdn/script/licences') %>">
					<%= link_to script_licences_path do  %>
						<i class="fa fa-circle-o"></i> 
						Script Licences
					<% end %>
				</li>
				<li class="<%= is_active_controller('phcscriptcdn/script/extensions') %>">
					<%= link_to script_extensions_path do %>
						<i class="fa fa-circle-o"></i> 
						Script Extensions
					<% end %>
				</li>
				<li class="<%= is_active_controller('phcscriptcdn/script/versions') %>">
					<%= link_to script_versions_path do  %>
						<i class="fa fa-circle-o"></i> 
						Script Versions
					<% end %>
				</li>
			</ul>
		</li>
	</ul>
</section>