<!-- Title System -->
<% phc_title "PHCMembers - Member Listing Manager" %>
<% phc_title_tagline "Update Listing Information for " + @members_profile_info.mfirstname + " " + @members_profile_info.mlastname %>

<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">

		<!-- Bread Crumbs -->
		<ol class="breadcrumb">
			<li><%= link_to "Dashboard", member_root_path %></li>
			<li><%= link_to "Member Profile List", member_profiles_path %></li>
			<li><%= link_to @members_profile_info.mfirstname + " " + @members_profile_info.mlastname + " Address Index", member_profile_addresses_path %></li>
			<li class="active"><%= yield(:phc_title_tagline) %></li>
		</ol>

		<!-- Page Title -->
		<h3 class="page-title">
			<%= yield(:phc_title) %> </br>
			<small><%= yield(:phc_title_tagline) %></small>
		</h3>

	</div>
</div>

<!-- Main Content -->
<%= render 'form', script_extension: @script_extension %>

<%= link_to 'Back', script_extensions_path %>
