<%= form_for(script_listing) do |f| %>

	<%= render 'phcnotifi/validations', :object => @scriptcdn_information %>

	<div class="form-group field_with_error">
		<%= f.label :scripttitle, "Script Title" %>
		<%= f.text_field :scripttitle, placeholder: "Script Information Title", class: "form-control"  %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptdescription, "Script Description" %>
		<%= f.text_field :scriptdescription, placeholder: "Script Information Description", class: "form-control"  %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptwebsite, "Script Website" %>
		<%= f.text_field :scriptwebsite, placeholder: "Script Information Website", class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scripttwitter, "Script Twitter" %>
		<%= f.text_field :scripttwitter, placeholder: "Script Information Twitter Address", class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptgithub, "Script Github" %>
		<%= f.text_field :scriptgithub, placeholder: "Script Information Github Address", class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptinitialrelease, "Initial Release" %>
		<%= f.date_select :scriptinitialrelease, class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptlastestrelease, "Latest Release" %>
		<%= f.date_select :scriptlastestrelease, class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptbetarelease, "Next Release" %>
		<%= f.date_select :scriptbetarelease, class: "form-control" %>
	</div>

	<div class="form-group field_with_error">
		<%= f.label :scriptstatus, "Script Status" %>
		<%= f.select( :scriptstatus, [['Active','Active'],['Outdated','Out Dated'],['Deactivated','Not Active']], {}, {class: "form-control form-control"}) %>
	</div>

	<div class="form-group field_with_error">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>
