<%= form_with(model: script_listing, local: true) do |form_phc_scriptcdn_listings| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/validations', :object => @script_listing %>

	<!-- Form_phc_scriptcdn_listings Input Fields -->
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scripttitle, "Script Title" %>
		<%= form_phc_scriptcdn_listings.text_field :scripttitle, placeholder: "Script Title", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptdescription, "Script Description" %>
		<%= form_phc_scriptcdn_listings.text_area :scriptdescription, placeholder: "Script Description", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :descriptionsource, "Script Source" %>
		<%= form_phc_scriptcdn_listings.text_field :descriptionsource, placeholder: "Script Source", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptwebsite, "Script Website" %>
		<%= form_phc_scriptcdn_listings.text_field :scriptwebsite, placeholder: "Script Website", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptgithub, "Script Github" %>
		<%= form_phc_scriptcdn_listings.text_field :scriptgithub, placeholder: "Script Github Address", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptinitialrelease, "Initial Release" %>
		<%= form_phc_scriptcdn_listings.date_select :scriptinitialrelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptlastestrelease, "Latest Release" %>
		<%= form_phc_scriptcdn_listings.date_select :scriptlastestrelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptbetarelease, "Preview Release" %>
		<%= form_phc_scriptcdn_listings.date_select :scriptbetarelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptlastestreleasecdn, "Script CDN Release" %>
		<%= form_phc_scriptcdn_listings.date_select :scriptlastestreleasecdn, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Version</label>
		<%= collection_select(:script_listing, :version_id, Phcscriptcdn::Script::Version.order('scriptversion'), :id, :scriptversion, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Licence</label>
		<%= collection_select(:script_listing, :licence_id, Phcscriptcdn::Script::Licence.order('lcncname'), :id, :lcncname, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Author</label>
		<%= collection_select(:script_listing, :author_id, Phcscriptcdn::Script::Author.order('authorfirstname'), :id, :authorfirstname, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= form_phc_scriptcdn_listings.label :scriptstatus, "Script Status" %>
		<%= form_phc_scriptcdn_listings.select( :scriptstatus, [['Active','Active'],['Outdated','Out Dated'],['Deactivated','Not Active']], {}, {class: "form-control"}) %>
	</div>
	<!-- Form_phc_scriptcdn_listings Input Fields -->

	<!-- Form_phc_scriptcdn_listings Submition Button -->
	<div class="actions">
		<%= form_phc_scriptcdn_listings.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
