<%= form_for(script_listing) do |f| %>

	<%= render 'phcnotifi/validations', :object => @script_listing %>

	<div class="form-group field_with_error">
		<%= f.label :scripttitle, "Script Title" %>
		<%= f.text_field :scripttitle, placeholder: "Script Title", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptdescription, "Script Description" %>
		<%= f.text_area :scriptdescription, placeholder: "Script Description", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :descriptionsource, "Script Source" %>
		<%= f.text_field :descriptionsource, placeholder: "Script Source", class: "form-control"  %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptwebsite, "Script Website" %>
		<%= f.text_field :scriptwebsite, placeholder: "Script Website", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scripttwitter, "Script Twitter" %>
		<%= f.text_field :scripttwitter, placeholder: "Script Twitter Address", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptgithub, "Script Github" %>
		<%= f.text_field :scriptgithub, placeholder: "Script Github Address", class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptinitialrelease, "Initial Release" %>
		<%= f.date_select :scriptinitialrelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptlastestrelease, "Latest Release" %>
		<%= f.date_select :scriptlastestrelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptbetarelease, "Next Release" %>
		<%= f.date_select :scriptbetarelease, start_year: 1981, class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Version</label>
		<%= collection_select(:script_listing, :version_id, Phcscriptcdnpro::Script::Version.order('scriptversion'), :id, :scriptversion, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Licence</label>
		<%= collection_select(:script_listing, :licence_id, Phcscriptcdnpro::Script::Licence.order('lcncname'), :id, :lcncname, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_errors">
		<label>Script Author</label>
		<%= collection_select(:script_listing, :author_id, Phcscriptcdnpro::Script::Author.order('authorfirstname'), :id, :authorfirstname, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_error">
		<%= f.label :scriptstatus, "Script Status" %>
		<%= f.select( :scriptstatus, [['Active','Active'],['Outdated','Out Dated'],['Deactivated','Not Active']], {}, {class: "form-control"}) %>
	</div>

	<div class="form-group field_with_error">
		<%= f.submit class: "btn btn-primary" %>
	</div>

<% end %>
