<%= form_for([@scriptcdn_scripturl.script, @scriptcdn_scripturl], url: scriptcdn_script_scripturls_path) do |f| %>

	<% if @scriptcdn_scripturl.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@scriptcdn_scripturl.errors.count, "error") %> prohibited this scriptcdn_scripturl from being saved:</h2>
			<ul>
				<% @scriptcdn_scripturl.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<label><%= f.label :scrpturlname, "Script Name" %></label>
		<%= f.text_field :scrpturlname, class: "form-control" %>
	</div>
	<div class="field">
		<label><%= f.label :scrpturlphc, "Script URL (AWS)" %></label>
		<%= f.text_field :scrpturlphc, class: "form-control" %>
	</div>
	<div class="field">
		<label><%= f.label :scrpturltype, "Script Type" %></label>
		<%= f.select :scrpturltype, [['CSS','css'],['JS','js'],['font','Font']], class: "form-control" %>
	</div>
	<div class="form-group">
		<label><%= f.label :scriptversion_id, "Script Version" %></label>
		<%= collection_select(:scriptcdn_scripturl, :scriptversion_id, Phcscriptcdn::Scriptcdn::Scriptversion.order('scrptversion'), :id, :scrptversion, {}, {class: "form-control form-control-sm"}) %>
	</div>
	
	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary btn-sm"%>
	</div>

<% end %>
