<%= form_for([@scriptcdn_scripturl.scriptversion, @scriptcdn_scripturl], url: scriptcdn_scriptversion_scripturls_path) do |f| %>

	<%= render 'phcnotifi/validations', :object => @scriptcdn_scripturl %>

	<div class="field">
		<label><%= f.label :scrpturlphc, "Script URL (AWS)" %></label>
		<%= f.text_field :scrpturlphc, class: "form-control" %>
	</div>
	<div class="field">
		<label><%= f.label :scrpturltype, "Script Type" %></label>
		<%= f.select :scrpturltype, [['CSS','css'],['JS','js'],['font','Font']], class: "form-control" %>
	</div>
	<div class="form-group">
		<label><%= f.label :scriptversion_id, "Script Version" %></label>
		<%= collection_select(:scriptcdn_scripturl, :scriptversion_id, Phcscriptcdn::Scriptcdn::Scriptversion.order('scrptversion'), :id, :scrptversion, {}, {class: "form-control"}) %>
	</div>
	
	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary btn-sm"%>
	</div>

<% end %>
