<p id="notice"><%= notice %></p>

<h1>Listing Scriptcdn Scripturls</h1>

<table>
  <thead>
    <tr>
      <th>Scrpturlname</th>
      <th>Scrpturlphc</th>
      <th>Scrpturltype</th>
      <th>Scriptversion</th>
      <th>Script</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scriptcdn_scripturls.each do |scriptcdn_scripturl| %>
      <tr>
        <td><%= scriptcdn_scripturl.scrpturlname %></td>
        <td><%= scriptcdn_scripturl.scrpturlphc %></td>
        <td><%= scriptcdn_scripturl.scrpturltype %></td>
        <td><%= scriptcdn_scripturl.scriptversion %></td>
        <td><%= scriptcdn_scripturl.script %></td>
        <td><%= link_to 'Show', scriptcdn_scripturl %></td>
        <td><%= link_to 'Edit', edit_scriptcdn_scripturl_path(scriptcdn_scripturl) %></td>
        <td><%= link_to 'Destroy', scriptcdn_scripturl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scripturl', new_scriptcdn_scripturl_path %>
