<p id="notice"><%= notice %></p>

<p>
  <strong>Scrpturlname:</strong>
  <%= @scriptcdn_scripturl.scrpturlname %>
</p>

<p>
  <strong>Scrpturlphc:</strong>
  <%= @scriptcdn_scripturl.scrpturlphc %>
</p>

<p>
  <strong>Scrpturltype:</strong>
  <%= @scriptcdn_scripturl.scrpturltype %>
</p>

<p>
  <strong>Scriptversion:</strong>
  <%= @scriptcdn_scripturl.scriptversion %>
</p>

<p>
  <strong>Script:</strong>
  <%= @scriptcdn_scripturl.script %>
</p>

<%= link_to 'Edit', edit_scriptcdn_scripturl_path(@scriptcdn_scripturl) %> |
<%= link_to 'Back', scriptcdn_scripturls_path %>
