<%= form_for(@scriptcdn_scriptversion) do |f| %>

	<% if @scriptcdn_scriptversion.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@scriptcdn_scriptversion.errors.count, "error") %> prohibited this scriptcdn_scriptversion from being saved:</h2>

			<ul>
				<% @scriptcdn_scriptversion.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<label><%= f.label :scrptversion, "Version" %></label>
		<%= f.text_field :scrptversion %>
	</div>

	<div class="actions">
		<%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
	</div>

<% end %>
